<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Group</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>52029fdc-55c7-4a5c-82d0-a17800d03ef9</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>AccessKey</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>AccessKey</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://api.instanexdev.com</string>
			<key>Key</key>
			<string>ServerURL</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Server URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>LMsRKlmz+IlLbJR7adp0KAaWYwONkMggHZ0L0aktU0A=</string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>SecretKey</string>
			<key>Title</key>
			<string>Secret Key</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
